/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities */
html {
  scroll-behavior: smooth;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 2px;
}
